body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
    color: #333;
}

header {
    background-color: #6f4e37;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    padding: 40px;
    background-color: #ffe6cc;
    text-align: center;
}

#produtos {
    padding: 200px;
    background-color: #f9f0e6;
}

.card-produto {
    background: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.card-produto img {
    max-width: 200px;
    border-radius: 10px;
}

#contato {
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

input, textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #6f4e37;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 20px;
}
